/* calculator styles */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

#calculator {
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

#display {
  width: 100%;
  padding: 20px;
  height: 80px;
  font-size: 80px;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
  /* color: hsl(0, 0%, 30%); */
}

#buttons {
  /* use CSS grid to place all buttons into 4 columns */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* use 10 pixel gap between the items */
  /* and put some padding around the buttons */
  gap: 10px;
  padding: 25px;
}

button {
  /* make each button a circle with 100px diameter */
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  /* the button background becomes slightly lighter on hover */
  background-color: hsl(0, 0%, 40%);
}

/* active state for all buttons */
button:active {
  background-color: hsl(0, 0%, 60%);
}
.operator-btn:active {
  background-color: hsl(35, 100%, 85%);
}

.operator-btn {
  background-color: hsl(35, 100%, 55%);
  color: hsl(0, 0%, 20%);
}

.operator-btn:hover {
  /* the orange button background becomes slightly lighter on hover */
  background-color: hsl(35, 100%, 65%);
}

#right-column {
  width: 500px;
  background-color: hsl(0, 0%, 35%);
}

#history {
  width: 100%;
  height: 95vh;
  min-height: 100px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: right;
}

#history-list {
  padding-right: 30px;
}

#history li {
  list-style-type: none;
  padding: 10px;
  color: white;
  margin: 5px;
}

@media screen and (max-width: 500px) {
  /* hide the right column element on smaller screens */
  #right-column {
    display: none;
  }
}
